#head {
    width: 100%;
    height: 100%;
}
#logo{
    width: 20%;
    height: 100%;
    float: left;
}
#mainHead{
    width: 60%;
    height: 100%;
    float: left;
}
#userBlock{
    width: 20%;
    height: 100%;
    border-left: 2px groove #605b61;
    padding: 2%;
    float: left;
}