#indexContent{
    width: 90%;
    min-width: 880px;
    margin-left: 5%;
}
#indexHeader{
    height: 156px;
    border-style: groove;
    border-radius: 5px;
}
#indexMainContent{
    margin-top: 4px;
    min-height: 300px;
}
#indexCentralColumn{
    float: left;
    width: 79%;
    height: 100%;
    border-style: groove;
    border-radius: 10px;
}
#indexRightColumn{
    float: left;
    width: 20%;
    margin-left: 1%;
    height: 100%;
    border-style: groove;
    border-radius: 5px;
}
#indexFooter{

}